<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="etechflow" translate="label" sortOrder="400">
            <label>eTechFlow</label>
        </tab>
        <section id="etechflow_adminreindex"
                 translate="label"
                 type="text"
                 sortOrder="150"
                 showInDefault="1"
                 showInWebsite="0"
                 showInStore="0">
            <label>Admin Reindex</label>
            <tab>etechflow</tab>
            <resource>ETechFlow_AdminReindex::config</resource>

            <group id="license" translate="label" type="text" sortOrder="5"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>License</label>
                <field id="license_key" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>License Key</label>
                    <comment><![CDATA[Subscription key (SP-XXXX-XXXX-XXXX-XXXX). Validated against your domain and server IP.]]></comment>
                </field>
                <field id="portal_url" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Portal Browser URL</label>
                    <comment><![CDATA[For local dev: http://127.0.0.1:5000. For production: your deployed portal URL.]]></comment>
                </field>
                <field id="portal_api_url" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Portal API URL</label>
                    <comment><![CDATA[Called by the Magento server to validate keys. Must be publicly reachable (not localhost).]]></comment>
                </field>
                <field id="issued_key" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Issued License Key</label>
                    <comment><![CDATA[Read-only. Set automatically after successful payment.]]></comment>
                </field>
                <field id="revoked" type="hidden" sortOrder="99"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Revoked</label>
                </field>
            </group>

            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Yes = Reindex mass action and Reindex All button appear. No = module inactive.]]></comment>
                </field>
            </group>

            <group id="payment" translate="label" type="text" sortOrder="30"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Payment (Stripe)</label>
                <comment>Add your Stripe keys to enable in-Magento subscription payment.</comment>
                <field id="stripe_secret_key" translate="label" type="obscure" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stripe Secret Key</label>
                    <comment><![CDATA[sk_live_... or sk_test_...]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="stripe_publishable_key" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stripe Publishable Key</label>
                    <comment><![CDATA[pk_live_... or pk_test_...]]></comment>
                </field>
                <field id="stripe_price_solo" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stripe Price ID: Solo</label>
                    <comment>Optional. Overrides built-in one-time price (GBP 19).</comment>
                </field>
                <field id="stripe_price_growth" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stripe Price ID: Growth</label>
                    <comment>Optional. Overrides built-in one-time price (GBP 39).</comment>
                </field>
                <field id="stripe_price_business" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stripe Price ID: Business</label>
                    <comment>Optional. Overrides built-in one-time price (GBP 69).</comment>
                </field>
                <field id="stripe_price_all_channels" translate="label" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stripe Price ID: All-Channels</label>
                    <comment>Optional. Overrides built-in one-time price (GBP 99).</comment>
                </field>
            </group>

        </section>
    </system>
</config>
